@model IEnumerable<L02P02_2021_MR_602_2019_CH_602.Models.Autores>

<h2>Autor</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Autor</th>
            <th></th> <!-- Celda para el botón "Seleccionar" -->
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.id</td>
                <td>@autor.autor</td>
                <td>
                    <form asp-controller="Libros" asp-action="ListByAuthor" method="post">
                        <input type="hidden" name="authorId" value="@autor.id" />
                        <button type="submit" class="btn btn-link">Seleccionar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

