@model L02P02_2021_MR_602_2019_CH_602.Models.Comentarios_libros

@{
    ViewData["Title"] = "Confirmación de Comentario";
}

<h1>Último Comentario del Cliente</h1>

<div>
    <p>Usuario: @Model.usuario</p>
    <p>Comentario: @Model.comentarios</p>
    <p>Fecha: @Model.created_at</p>
</div>
