<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021_MR_602_2019_CH_602</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021_MR_602_2019_CH_602.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
                <div class="navbar-brand text-center">
                    <div class="d-flex flex-column align-items-center">
                        <!-- Logo -->
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/UNICAES_Logo.png/800px-UNICAES_Logo.png" alt="Logo" height="80">
                        <!-- Texto -->
                        <span>Comentarios por Libros</span>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center text-center" id="navbarNav">
                    <span class="navbar-text d-block">Seleccionar el Autor </span>
                    <span class="navbar-text d-block"> -> </span>
                    <span class="navbar-text d-block">Seleccione el Libro </span>
                    <span class="navbar-text d-block"> -></span>
                    <span class="navbar-text d-block">Se muestran los comentarios existentes </span>
                    <span class="navbar-text d-block"> -> </span>
                    <span class="navbar-text d-block">Adicione un nuevo comentario</span>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-center">
            2021-MR-602 FERNANDO HERIBERTO MUSTO RAMÍREZ -
        </div>
        <div class="container text-center">
            2019-CH-602 CARLOS LEONEL CASTANEDA HERNANDEZ -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
