/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */





.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    background-color: #343a40; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto al centro */
    padding: 20px 0; /* Espaciado interior superior e inferior */
}

.navbar-brand img {
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

.navbar-brand span {
    color: white; /* Color del texto */
    margin-right: 10px;
    font-size: 2rem; /* Tamaño del texto */
}

.navbar-text {
    color: white !important; /* Color del texto */
    margin-right: 10px;
    font-size: 1rem; /* Tamaño del texto */
}

    .navbar-text:hover {
        color: rgba(255, 255, 255, 0.7) !important; /* Color del texto al pasar el cursor */
    }



